center {
    margin-top: 1cm;
}

#username,#password,#button{
	margin-left: 5cm;
}

.existing_user{
	margin-left: 5cm;
}

.new_user{
	margin-left: 20cm;
	color:red;
	font-family:eufm10;
	font-size: 26px;
}
